// Here we create and generate helper classes

// Required imports
@import "variables";

// We generate colors using ZHP base colors
@each $name, $color in $zhp-base-colors {
    .text-zhp-#{$name} {
        color: $color;
    }

    .bg-zhp-#{$name} {
        background-color: $color;
    }
}

// We generate helper width and height classes for grid breakpoints
@each $breakpoint in map-keys($grid-breakpoints) {
    .w-#{$breakpoint}-100 {
        @include media-breakpoint-up($breakpoint) {
            width: 100% !important;
        }
    }

    .w-#{$breakpoint}-auto {
        @include media-breakpoint-up($breakpoint) {
            width: auto !important;
        }
    }

    .h-#{$breakpoint}-100 {
        @include media-breakpoint-up($breakpoint) {
            height: 100% !important;
        }
    }

    .h-#{$breakpoint}-auto {
        @include media-breakpoint-up($breakpoint) {
            height: auto !important;
        }
    }
}

.text-justify {
    text-align: justify;
}

.cursor-pointer {
    cursor: pointer;
}
