// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;\
    1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// Typography
$font-family-base: "Roboto", sans-serif;
$line-height-base: 1.6;
$font-size-base: .9rem;

// Colors
$zhp-green: #85a314;
$zhp-purple: #5c3896;
$zhp-orange: #f58220;
$zhp-yellow: #efac1f;
$zhp-red: #ce181e;
$zhp-navy-blue: #084ca1;
$zhp-blue: #05b6e6;
$zhp-brown: #9d5528;
$zhp-gray: #97a2ab;
$zhp-violet: #850c70;

// Semantic colors
$primary: $zhp-green;
$secondary: $zhp-purple;
$green: $primary;
$warning: $zhp-orange;
$danger: $zhp-red;
$info: $zhp-navy-blue;

// Colors maps
$zhp-base-colors: (
    "green": $zhp-green,
    "purple": $zhp-purple,
    "orange": $zhp-orange,
    "yellow": $zhp-yellow,
    "red": $zhp-red,
    "navy-blue": $zhp-navy-blue,
    "blue": $zhp-blue,
    "brown": $zhp-brown,
    "gray": $zhp-gray,
    "violet": $zhp-violet,
);

// Color gradients
$base-gradient: linear-gradient(45deg, darken($zhp-green, 30%) 0%, $zhp-green 100%);

// Sizes and dimensions
$footer-height: 4rem;

// Images
$header-pattern: "/img/header-pattern.png";

// Backgrounds
$pattern-background: url($header-pattern) repeat fixed,
    $base-gradient;
