.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-outline-primary:active,
.btn-outline-primary:hover {
    color: $white;
}

.btn {
    border-bottom-width: 2px;
}

.btn-white {
    color: $dark;
    background-color: $white;
    border-width: $btn-border-width;
    border-bottom-width: 2px;
    border-color: $input-border-color;
    transition: none;

    &:hover {
        background-color: darken($white, 5%);
    }

    &:active,
    &:focus {
        background-color: darken($white, 5%);
        box-shadow: $btn-active-box-shadow;
        border-bottom-width: 2px;
    }
}

.btn.dropdown-toggle.no-caret::after {
    display: none;
}
