.course-card {
    border-bottom-width: 2px;
}

.course-card:not(:last-child) {
    margin-bottom: $spacer;
}

.course-tags .badge:not(:last-child) {
    margin-right: 0.25 * $spacer;
}

.course-tags .badge {
    &:hover {
        color: $white !important;
        background-color: $zhp-green;
        border-color: darken($zhp-green, 10%) !important;

        & a {
            color: $white;
        }
    }
}

.course-thumbnail {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-height: 300px;
}

.course-tags .badge {
    border-bottom-width: 2px !important;

    & > .tag-remove {
        @extend .text-muted;
    }

    &:hover > .tag-remove {
        color: $white !important;
    }
}
