.dropdown-menu {
    padding: 0;
    overflow: hidden;

    &[data-popper-placement="bottom-start"],
    &[data-popper-placement="bottom-end"] {
        animation: dropdown-slide-down-animation ease-in-out 150ms;
    }

    &[data-popper-placement="top-start"],
    &[data-popper-placement="top-end"] {
        animation: dropdown-slide-up-animation ease-in-out 150ms;
    }
}

@keyframes dropdown-slide-up-animation {
    0% {
        top: $spacer / 2;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes dropdown-slide-down-animation {
    0% {
        top: -$spacer / 2;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}
