input.form-control,
input.form-control.is-invalid,
input.form-check-input,
textarea.form-control {
    border-bottom-width: 2px;

    &:focus {
        box-shadow: none;
    }
}

.bootstrap-tagsinput {
    @extend .form-control;

    & input {
        @extend .form-control;

        width: auto;
        display: inline-block;
    }
}
