// Styles for "free" links that do not belong to any
// other specificity and have no class assigned
a {
    color: $dark;
    text-decoration: none;
    transition: none !important;

    &:hover {
        color: $zhp-green;
    }
}

a.text-muted,
a.text-black-50 {
    &:hover {
        color: $zhp-green !important;
    }
}
