ul.pagination {
    margin: 0;

    & .page-item {
        @include media-breakpoint-down(md) {
            display: flex;
            flex: 1 1 auto !important;
        }

        & .page-link {
            flex-grow: 1 !important;
            text-align: center;
        }
    }

    & .page-link {
        border-bottom-width: 2px;
    }
}
