.footer {
    width: 100%;
    height: $footer-height;
    background-color: $gray-200;
}

// A div component for app-content that pushes the
// contents away from the footer
.footer-push {
    height: $footer-height;
}
