.sidebar {
    @include media-breakpoint-down(md) {
        &:not(.show):not(.collapsing) {
            display: none;
        }
    }

    @include media-breakpoint-up(md) {
        display: block !important;
    }

    & .nav-item {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        & .active {
            color: $white;
            background-color: $zhp-green;

            & a {
                color: $white;
            }
        }
    }

    & .nav-link {
        width: 100%;
        color: $dark;
        padding: $nav-link-padding-y / 2 $nav-link-padding-x;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: none;

        &:hover {
            color: $white;
            background-color: $zhp-green;
        }
    }
}

.sidebar-header {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom-width: 0.2rem;
    border-bottom-color: $zhp-green;
}
