<template>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" v-model="value" :id="name" :name="name" required>
        <label :for="name" class="form-check-label">{{ label }}</label>
        <slot />
    </div>
</template>

<script>
export default {
    name: "CheckboxCaptcha",
    props: {
        name: {
            type: String,
            required: true,
        },
        value: {
            type: Boolean,
            default: false,
        },
        label: {
            type: String,
            required: true,
        },
    },
};
</script>
