<template>
    <div class="p-2 border rounded">
        <select
            v-model="selected"
            :name="name + '[]'"
            :id="selectId"
            class="d-none"
            tabindex="-1"
            aria-hidden="true"
            multiple
        >
            <option v-for="tag of tagsList">
                {{ tag }}
            </option>
        </select>
        <div class="autocomplete position-relative">
            <div class="form-floating">
                <input
                    v-model="value"
                    type="text"
                    :id="inputId"
                    class="form-control"
                    :placeholder="label"
                    @keydown="onInputKeyDown"
                    @focus="onInputFocus"
                >
                <label :for="inputId" class="form-label">{{ label }}</label>
            </div>
            <ul v-if="showAutocomplete" class="dropdown-menu show position-absolute top-100 w-100">
                <a
                    v-for="(tag, index) of autocomplete"
                    :href="'#' + tag"
                    class="dropdown-item cursor-pointer"
                    :ref="'autocomplete-item-' + index"
                    @click.prevent="onTagSelect(index)"
                >
                    {{ tag }}
                </a>
            </ul>
        </div>
        <div class="tags course-tags fw-normal fs-5" v-if="selected.length > 0">
            <div
                v-for="tag of selected"
                class="badge tag text-muted border"
                tabindex="0"
                :aria-label="removeLabel"
                role="button"
                @keydown="onTagKeyDown($event, tag)"
            >
                <span>{{ tag }}</span>
                <span class="ms-2 tag-remove cursor-pointer" @click="unselectTag(tag)">&times;</span>
            </div>
        </div>
    </div>
</template>

<script>
import autocomplete from "../autocomplete";

export default {
    name: "TagsInput",
    props: {
        id: {
            type: String,
            default: "",
        },
        name: {
            type: String,
            required: true,
        },
        label: {
            type: String,
            required: true,
        },
        removeLabel: {
            type: String,
            required: true,
        },
        tags: {
            type: Array,
            required: true,
        },
        selectedTags: {
            type: Array,
            default: [],
        },
    },
    data() {
        return {
            value: "",
            selected: this.selectedTags,
            tagsList: this.tags,
            autocomplete: [],
            autocompleteIndex: -1,
        };
    },
    watch: {
        value() {
            this.autocompleteIndex = -1;

            this.updateAutocomplete();
            this.highlightSelectedAutocomplete();
        },
    },
    computed: {
        selectId() {
            return this.id ?? this.name;
        },
        inputId() {
            return "tags-input-" + this.id;
        },
        showAutocomplete() {
            return (this.autocomplete.length > 0);
        },
    },
    methods: {
        isOptionSelected(value) {
            return this.selected.includes(value);
        },
        selectTag() {
            const tag = (this.autocompleteIndex >= 0)
                ? this.autocomplete[this.autocompleteIndex]
                : this.value;

            if (!this.selected.includes(tag)) {
                this.selected.push(tag);

                if (!this.tagsList.includes(tag)) {
                    this.tagsList.push(tag);
                }
            }
        },
        unselectTag(tag) {
            const tagIndex = this.selected.indexOf(tag);

            if (tagIndex >= 0) {
                this.selected.splice(tagIndex, 1);
            }
        },
        updateAutocomplete() {
            const { tagsList, value } = this;

            if (value.trim()) {
                this.autocomplete = autocomplete(tagsList, value).filter((tag) => !this.selected.includes(tag));
            } else {
                this.autocomplete = [];
            }
        },
        resetValue() {
            this.value = "";
            this.autocompleteIndex = -1;
        },
        highlightSelectedAutocomplete() {
            const { autocomplete, autocompleteIndex } = this;
            const length = autocomplete.length;

            // We remove highlight from all autocomplete items
            for (let i = 0; i < length; i++) {
                const ref = this.$refs["autocomplete-item-" + i];

                if (ref) {
                    ref.classList.remove("active");
                }
            }

            if (autocompleteIndex >= 0) {
                // We highlight single autocomplete item
                this.$refs["autocomplete-item-" + autocompleteIndex].classList.add("active");
            }
        },
        onTagSelect(index) {
            this.autocompleteIndex = index;

            this.selectTag();
            this.resetValue();
        },
        onInputKeyDown(event) {
            switch (event.key) {
                case "Enter":
                    event.preventDefault();
                    event.stopPropagation();

                    this.selectTag();

                    this.resetValue();
                    break;
                case "Escape":
                    this.autocomplete = [];
                    break;
                case "ArrowDown":
                    event.preventDefault();

                    if (this.showAutocomplete) {
                        this.autocompleteIndex = Math.min(this.autocompleteIndex + 1, this.autocomplete.length - 1);

                        this.highlightSelectedAutocomplete();
                    }
                    break;
                case "ArrowUp":
                    event.preventDefault();

                    if (this.showAutocomplete) {
                        this.autocompleteIndex = Math.max(this.autocompleteIndex - 1, -1);

                        this.highlightSelectedAutocomplete();
                    }
                    break;
                default:
                    break;
            }
        },
        onInputBlur() {
            this.autocomplete = [];
        },
        onInputFocus() {
            this.updateAutocomplete();
        },
        onTagKeyDown(event, tag) {
            const { key } = event;

            if (["Enter", "Escape", "Backspace", "Delete"].includes(key)) {
                this.unselectTag(tag);
            }
        },
    },
};
</script>
